div.container section.filters {
  height: 70px;
  width 100%;
  border-width: 1px;
  border-color: #DDDDDD;
  border-radius: 4px;
  border-style: solid;
}

section.filters button {
  font-size: 18px;
  background-color: #FF5A5F;
  text-color: #FFFFFF;
  height: 48px;
  width: 20%;
  border: 0;
  border-radius: 4px;
  float: right;
  margin: 11px 30px;
}

section.filters button: hover {
  opacity: .9;
}

.locations {
  height: 100%;
  width: 25%;
  border-right: 1px solid;
  border-color #DDDDDD;
  float: left;
  padding-left: 50px;
}

.amenities {
  height: 100%;
  width: 25%;
  float: left;
  padding-left: 50px;
}

div h3 {
  font-weight: 600;
  line-height: 10px;
}

div h4 {
  font-weight: 400;
  font-size: 14px;
  margin-top: -7px;
}

.locations .popover {
  padding-bottom: 35px;
  padding-top: 5px;
}

.popover {
  background-color: #FAFAFA;
  width: 100%;
  text-indent: 10%;
  text-align: left;
  border: 1px solid;
  border-color: #DDDDDD;
  border-radius: 4px;
}

.locations:hover .popover {
  display: block;
  background-color: #FAFAFA
}

.amenities: hover .popever {
  display: block;
  background-color: #FAFAFA;
}

.popover li {
  list-style: none;
  margin-bottom: 10px;
  padding-left: 10px;
}

.popover h2 {
  padding-left: 30px;
  margin-bottom: -10px;
  margin-top: 25px;
}
